streamlit==1.41.1
pandas==2.2.3
numpy==1.26.0
matplotlib==3.8.0
plotly==5.24.1
plotly-resampler==0.10.0
py2neo==2021.2.4
igraph==0.11.8
leidenalg==0.10.2
louvain==0.8.2
networkx==3.2.1
spacy==3.6.1
spacy-wordnet==0.1.0
nltk==3.5
senticnet==1.6
requests==2.32.3
pillow==11.0.0
scikit-learn==1.3.0
scipy==1.11.2
pyarrow==18.1.0
